:root {
  --color-background: #ffffff;
  --color-light-background: hsl(0, 0%, 93%);
  --color-border: hsla(0, 0%, 9%, 0.5);
  --color-text: #2c3e50;
  --color-primary: #000000;
  --color-primary-inverted: #ffffff;
  --color-highlight: #e0eae0;
  --max-width: 82rem;
  --border-radius: 1rem;
  --gap: 0.5rem;
  --gap-2x: calc(var(--gap) * 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  width: 100%;
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

input:focus-visible {
  outline: 0px solid transparent;
  box-shadow: 0px 0px 3px 0px var(--color-border);
}

.border,
.btn-secondary,
input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  text-transform: none;
  padding: 0.25rem 0.75rem;
  color: var(--color-text);
  border-radius: var(--border-radius);
  background-color: var(--color-light-background);
}

button:disabled {
  cursor: not-allowed;
  opacity: 60%;
  transition: opacity 0.4s;
}

button svg {
  margin-left: 0.5rem;
  vertical-align: text-top;
}

button:has(svg) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  color: var(--color-primary-inverted);
  background-color: var(--color-primary);
  align-self: center;
}

.btn-secondary {
  background-color: var(--background-color);
}

.btn-small {
  padding: 0.05rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

a {
  color: var(--color-primary);
}

a,
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

b {
  font-weight: 600;
}

mark {
  background-color: transparent;
  text-decoration: underline;
}

h2 {
  line-height: 1.75rem;
}

h2,
h3,
.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.self-center {
  align-self: center;
}

.column,
.column-stretch {
  display: flex;
  flex-direction: column;
}

.column {
  gap: var(--gap-2x);
}

.column-stretch {
  gap: var(--gap);
}

.row {
  display: flex;
  gap: var(--gap-2x);
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap);
}

@media screen and (max-width: 456px) {
  .input-row {
    flex-direction: column;

    label {
      margin-bottom: -0.5rem;
    }

    button,
    .input-wrap {
      width: 100%;
    }
  }
}

.mt-1 {
  margin-top: var(--gap);
}

.square {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
  border-radius: 0.125rem;
  color: transparent;
}

.red {
  background-color: #e16a51;
}

.green {
  background-color: #359335;
}

.black {
  background-color: black;
}
