:root {
  --color-background: #ffffff;
  --color-light-background: hsl(0, 0%, 90%);
  --color-border: #181818;
  --color-text: #2c3e50;
  --color-primary: #c67b47;
  --color-primary-inverted: #ffffff;
  --color-highlight: #e0eae0;
  --max-width: 62rem;
  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  text-transform: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  padding: 0;
  color: var(--color-text);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

mark {
  background-color: transparent;
  text-decoration: underline;
}

h2 {
  line-height: 1.75rem;
  text-align: center;
}

h3 {
  text-align: center;
}

.square {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
  border-radius: 0.125rem;
  color: transparent;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}